.button_contact {
  background-color: #8bddf8;
  border: 1px solid blueviolet;
  color: #4730f6;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid rgb(216, 195, 235);
}
.button_contact:hover {
  background-color: rgb(173, 236, 236);
  color: #9a07fc;
}
.item_contact {
  color: #1501ad;
  font-size: 25px;
  font-weight: 600;
}
.wrapper_contact {
  display: flex;
  margin-bottom: 20px;
}
