.form_contacts {
  display: inline-block;
  padding: 35px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: 0;
}
.label_contacts {
  font-weight: 500;
  font-size: 30px;
  color: #6809a8;
}

.input_contacts {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  color: #8505db;
  width: 300px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  background: #ebffeb;
  border: 1px solid rgb(191, 126, 251);
}

.input_contacts:focus {
  outline: 0;
  outline-offset: 0;
}
.btn_contacts {
  background-color: #8bddf8;
  border: 1px solid blueviolet;
  color: #4730f6;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
}
.btn_contacts:hover {
  background-color: rgb(173, 236, 236);
  color: #9a07fc;
  border: 1px solid rgb(42, 4, 79);
}
